# ðŸ”´ Task 15: Data Wrangling: Join, Combine, and Reshape.

In [119]:
import numpy as np
import pandas as pd
from IPython.display import display
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 1000)

In [120]:
import_dataFrame = pd.read_csv('1.csv')
import_dataFrame2 = pd.read_csv('2.csv')

## 1. Merge two DataFrames on a single key.

In [121]:
merger = pd.merge(import_dataFrame, import_dataFrame2, on='Index')
display(merger)

    Index    Customer Id_x First Name_x Last Name_x                        Company_x  ...              Phone 1_y             Phone 2_y                        Email_y Subscription Date_y                     Website_y
0       1  DD37Cf93aecA6Dc       Sheryl      Baxter                  Rasmussen Group  ...      846-790-4623x4715   (422)787-2331x71127  marieyates@gomez-spencer.info          2021-07-26          http://www.shea.biz/
1       2  1Ef7b82A4CAAD10      Preston      Lozano                      Vega-Gentry  ...     124-597-8652x05682     321.441.0588x6218          alexandra86@mccoy.com          2021-06-24     http://www.pena-cole.com/
2       3  6F94879bDAfE5a6          Roy       Berry                    Murillo-Perry  ...     (335)987-3085x3780      001-680-204-8312        justincurtis@pierce.org          2020-04-05   http://www.booth-reese.biz/
3       4  5Cef8BFA16c5e3c        Linda       Olsen  Dominguez, Mcmillan and Donovan  ...          (047)752-3122     048.779.5035x9122            adeleon@hubbard.org          2020-11-29        http://www.hebert.com/
4       5  053d585Ab6b3159       Joanna      Bender         Martin, Lang and Andrade  ...  +1-360-693-4419x19272          163-627-2565          jesus90@roberson.info          2022-04-22           http://merritt.com/
..    ...              ...          ...         ...                              ...  ...                    ...                   ...                            ...                 ...                           ...
95     96  cb8E23e48d22Eae         Karl       Greer                        Carey LLC  ...      708-648-2498x1037  001-862-267-9112x298                 xingram@le.com          2020-02-28  https://richards-jarvis.com/
96     97  CeD220bdAaCfaDf         Lynn    Atkinson            Ware, Burns and Oneal  ...       001-259-817-5012     (873)535-8704x224         ronnie03@bird-hood.com          2020-08-21          https://cordova.com/
97     98  28CDbC0dFe4b1Db         Fred      Guerra                    Schmitt-Jones  ...     (318)952-4565x2143    (495)821-7527x0997            wanda50@webster.com          2022-02-18     http://www.dickerson.com/
98     99  c23d1D9EE8DEB0A       Yvonne      Farmer               Fitzgerald-Harrell  ...      (198)286-0649x642          512-677-4453           tricia22@barrera.com          2020-04-06      http://www.richmond.com/
99    100  2354a0E336A91A1     Clarence      Haynes               Le, Nash and Cross  ...   +1-942-219-2911x3796    (980)679-2739x5052               alan83@olson.com          2020-04-13  http://www.wilcox-burns.biz/

[100 rows x 23 columns]

## 2. Merge two DataFrames on multiple keys.

In [122]:
merger2 = pd.merge(import_dataFrame, import_dataFrame2, on=['Index', 'First Name'])
display(merger2)

   Index    Customer Id_x First Name Last Name_x       Company_x  ...   Phone 1_y        Phone 2_y                   Email_y Subscription Date_y               Website_y
0     63  aEcbe5365BbC67D      Eddie     Jimenez  Caldwell Group  ...  8092572517  +1-646-938-3344  franklinweiss@porter.net          2020-11-25  https://www.joyce.com/

[1 rows x 22 columns]

## 3. Perform an outer join, inner join, left join, and right join.

In [123]:
merger_Outer = pd.merge(import_dataFrame, import_dataFrame2, on=['Index', 'First Name'], how = 'outer')
merger_Inner = pd.merge(import_dataFrame, import_dataFrame2, on=['Index', 'First Name'], how = 'inner')
merger_Left = pd.merge(import_dataFrame, import_dataFrame2, on=['Index', 'First Name'], how = 'left')
merger_Right = pd.merge(import_dataFrame, import_dataFrame2, on=['Index', 'First Name'], how = 'right')
display(merger_Outer)
display(merger_Inner)
display(merger_Left)
display(merger_Right)

      Index    Customer Id_x First Name Last Name_x        Company_x  ...              Phone 1_y              Phone 2_y                        Email_y Subscription Date_y                     Website_y
0         1              NaN     Andrew         NaN              NaN  ...      846-790-4623x4715    (422)787-2331x71127  marieyates@gomez-spencer.info          2021-07-26          http://www.shea.biz/
1         1  DD37Cf93aecA6Dc     Sheryl      Baxter  Rasmussen Group  ...                    NaN                    NaN                            NaN                 NaN                           NaN
2         2              NaN      Alvin         NaN              NaN  ...     124-597-8652x05682      321.441.0588x6218          alexandra86@mccoy.com          2021-06-24     http://www.pena-cole.com/
3         2  1Ef7b82A4CAAD10    Preston      Lozano      Vega-Gentry  ...                    NaN                    NaN                            NaN                 NaN                           NaN
4         3              NaN      Jenna         NaN              NaN  ...     (335)987-3085x3780       001-680-204-8312        justincurtis@pierce.org          2020-04-05   http://www.booth-reese.biz/
...     ...              ...        ...         ...              ...  ...                    ...                    ...                            ...                 ...                           ...
1094    996              NaN      Diana         NaN              NaN  ...  +1-171-715-9766x54993    (489)413-7296x32807     cassidymercado@bonilla.com          2022-01-09            http://castro.net/
1095    997              NaN      Jerry         NaN              NaN  ...       132.253.8501x097  +1-301-292-8363x80270        gavin13@logan-downs.com          2021-08-21       https://www.braun.info/
1096    998              NaN     Tracie         NaN              NaN  ...             1193982387          (482)926-8966         lowehailey@oconnor.org          2020-04-22  http://www.zavala-rubio.com/
1097    999              NaN       Paul         NaN              NaN  ...   +1-537-466-3245x3699           791-835-9075   hodgeseddie@hardin-wells.com          2021-03-12  https://stone-randolph.info/
1098   1000              NaN    Dominic         NaN              NaN  ...        +1-278-758-4331       814-860-0941x057         owarner@velasquez.info          2021-12-09           http://www.cox.com/

[1099 rows x 22 columns]

   Index    Customer Id_x First Name Last Name_x       Company_x  ...   Phone 1_y        Phone 2_y                   Email_y Subscription Date_y               Website_y
0     63  aEcbe5365BbC67D      Eddie     Jimenez  Caldwell Group  ...  8092572517  +1-646-938-3344  franklinweiss@porter.net          2020-11-25  https://www.joyce.com/

[1 rows x 22 columns]

    Index    Customer Id_x First Name Last Name_x                        Company_x  ... Phone 1_y Phone 2_y Email_y Subscription Date_y Website_y
0       1  DD37Cf93aecA6Dc     Sheryl      Baxter                  Rasmussen Group  ...       NaN       NaN     NaN                 NaN       NaN
1       2  1Ef7b82A4CAAD10    Preston      Lozano                      Vega-Gentry  ...       NaN       NaN     NaN                 NaN       NaN
2       3  6F94879bDAfE5a6        Roy       Berry                    Murillo-Perry  ...       NaN       NaN     NaN                 NaN       NaN
3       4  5Cef8BFA16c5e3c      Linda       Olsen  Dominguez, Mcmillan and Donovan  ...       NaN       NaN     NaN                 NaN       NaN
4       5  053d585Ab6b3159     Joanna      Bender         Martin, Lang and Andrade  ...       NaN       NaN     NaN                 NaN       NaN
..    ...              ...        ...         ...                              ...  ...       ...       ...     ...                 ...       ...
95     96  cb8E23e48d22Eae       Karl       Greer                        Carey LLC  ...       NaN       NaN     NaN                 NaN       NaN
96     97  CeD220bdAaCfaDf       Lynn    Atkinson            Ware, Burns and Oneal  ...       NaN       NaN     NaN                 NaN       NaN
97     98  28CDbC0dFe4b1Db       Fred      Guerra                    Schmitt-Jones  ...       NaN       NaN     NaN                 NaN       NaN
98     99  c23d1D9EE8DEB0A     Yvonne      Farmer               Fitzgerald-Harrell  ...       NaN       NaN     NaN                 NaN       NaN
99    100  2354a0E336A91A1   Clarence      Haynes               Le, Nash and Cross  ...       NaN       NaN     NaN                 NaN       NaN

[100 rows x 22 columns]

     Index Customer Id_x First Name Last Name_x Company_x  ...              Phone 1_y              Phone 2_y                        Email_y Subscription Date_y                     Website_y
0        1           NaN     Andrew         NaN       NaN  ...      846-790-4623x4715    (422)787-2331x71127  marieyates@gomez-spencer.info          2021-07-26          http://www.shea.biz/
1        2           NaN      Alvin         NaN       NaN  ...     124-597-8652x05682      321.441.0588x6218          alexandra86@mccoy.com          2021-06-24     http://www.pena-cole.com/
2        3           NaN      Jenna         NaN       NaN  ...     (335)987-3085x3780       001-680-204-8312        justincurtis@pierce.org          2020-04-05   http://www.booth-reese.biz/
3        4           NaN   Fernando         NaN       NaN  ...          (047)752-3122      048.779.5035x9122            adeleon@hubbard.org          2020-11-29        http://www.hebert.com/
4        5           NaN       Kara         NaN       NaN  ...  +1-360-693-4419x19272           163-627-2565          jesus90@roberson.info          2022-04-22           http://merritt.com/
..     ...           ...        ...         ...       ...  ...                    ...                    ...                            ...                 ...                           ...
995    996           NaN      Diana         NaN       NaN  ...  +1-171-715-9766x54993    (489)413-7296x32807     cassidymercado@bonilla.com          2022-01-09            http://castro.net/
996    997           NaN      Jerry         NaN       NaN  ...       132.253.8501x097  +1-301-292-8363x80270        gavin13@logan-downs.com          2021-08-21       https://www.braun.info/
997    998           NaN     Tracie         NaN       NaN  ...             1193982387          (482)926-8966         lowehailey@oconnor.org          2020-04-22  http://www.zavala-rubio.com/
998    999           NaN       Paul         NaN       NaN  ...   +1-537-466-3245x3699           791-835-9075   hodgeseddie@hardin-wells.com          2021-03-12  https://stone-randolph.info/
999   1000           NaN    Dominic         NaN       NaN  ...        +1-278-758-4331       814-860-0941x057         owarner@velasquez.info          2021-12-09           http://www.cox.com/

[1000 rows x 22 columns]

## 4. Concatenate two DataFrames along rows.

In [124]:
concatenate = pd.concat([import_dataFrame, import_dataFrame2], ignore_index=True)
display(concatenate)

      Index      Customer Id First Name Last Name                          Company  ...                 Phone 1                Phone 2                         Email Subscription Date                       Website
0         1  DD37Cf93aecA6Dc     Sheryl    Baxter                  Rasmussen Group  ...            229.077.5154       397.884.0519x718      zunigavanessa@smith.info        2020-08-24    http://www.stephenson.com/
1         2  1Ef7b82A4CAAD10    Preston    Lozano                      Vega-Gentry  ...              5153435776       686-620-1820x944               vmata@colon.com        2021-04-23         http://www.hobbs.com/
2         3  6F94879bDAfE5a6        Roy     Berry                    Murillo-Perry  ...         +1-539-402-0259    (496)978-3969x58947           beckycarr@hogan.com        2020-03-25      http://www.lawrence.com/
3         4  5Cef8BFA16c5e3c      Linda     Olsen  Dominguez, Mcmillan and Donovan  ...  001-808-617-6467x12895        +1-813-324-8756   stanleyblackwell@benson.org        2020-06-02    http://www.good-lyons.com/
4         5  053d585Ab6b3159     Joanna    Bender         Martin, Lang and Andrade  ...  001-234-203-0635x76146  001-199-446-3860x3486       colinalvarado@miles.net        2021-04-17   https://goodwin-ingram.com/
...     ...              ...        ...       ...                              ...  ...                     ...                    ...                           ...               ...                           ...
1095    996  FbcCaF483aFaFAE      Diana    Monroe                      Bass-Wilson  ...   +1-171-715-9766x54993    (489)413-7296x32807    cassidymercado@bonilla.com        2022-01-09            http://castro.net/
1096    997  979c4D58Ae9a9cc      Jerry   Morales                       Pratt-King  ...        132.253.8501x097  +1-301-292-8363x80270       gavin13@logan-downs.com        2021-08-21       https://www.braun.info/
1097    998  D0DcF6a4BcefCc8     Tracie     Floyd         Holt, Wilson and Shields  ...              1193982387          (482)926-8966        lowehailey@oconnor.org        2020-04-22  http://www.zavala-rubio.com/
1098    999  90EE9CbbDa374E9       Paul    Barnes         Brown, Oliver and Haynes  ...    +1-537-466-3245x3699           791-835-9075  hodgeseddie@hardin-wells.com        2021-03-12  https://stone-randolph.info/
1099   1000  51732B5b2328015    Dominic     Duran                       Durham LLC  ...         +1-278-758-4331       814-860-0941x057        owarner@velasquez.info        2021-12-09           http://www.cox.com/

[1100 rows x 12 columns]

## 5. Concatenate two DataFrames along columns.

In [125]:
concatenate2 = pd.concat([import_dataFrame, import_dataFrame2], ignore_index=True, axis = 1)
display(concatenate2)

      0                1        2       3                                4   ...                     19                     20                             21          22                            23
0    1.0  DD37Cf93aecA6Dc   Sheryl  Baxter                  Rasmussen Group  ...      846-790-4623x4715    (422)787-2331x71127  marieyates@gomez-spencer.info  2021-07-26          http://www.shea.biz/
1    2.0  1Ef7b82A4CAAD10  Preston  Lozano                      Vega-Gentry  ...     124-597-8652x05682      321.441.0588x6218          alexandra86@mccoy.com  2021-06-24     http://www.pena-cole.com/
2    3.0  6F94879bDAfE5a6      Roy   Berry                    Murillo-Perry  ...     (335)987-3085x3780       001-680-204-8312        justincurtis@pierce.org  2020-04-05   http://www.booth-reese.biz/
3    4.0  5Cef8BFA16c5e3c    Linda   Olsen  Dominguez, Mcmillan and Donovan  ...          (047)752-3122      048.779.5035x9122            adeleon@hubbard.org  2020-11-29        http://www.hebert.com/
4    5.0  053d585Ab6b3159   Joanna  Bender         Martin, Lang and Andrade  ...  +1-360-693-4419x19272           163-627-2565          jesus90@roberson.info  2022-04-22           http://merritt.com/
..   ...              ...      ...     ...                              ...  ...                    ...                    ...                            ...         ...                           ...
995  NaN              NaN      NaN     NaN                              NaN  ...  +1-171-715-9766x54993    (489)413-7296x32807     cassidymercado@bonilla.com  2022-01-09            http://castro.net/
996  NaN              NaN      NaN     NaN                              NaN  ...       132.253.8501x097  +1-301-292-8363x80270        gavin13@logan-downs.com  2021-08-21       https://www.braun.info/
997  NaN              NaN      NaN     NaN                              NaN  ...             1193982387          (482)926-8966         lowehailey@oconnor.org  2020-04-22  http://www.zavala-rubio.com/
998  NaN              NaN      NaN     NaN                              NaN  ...   +1-537-466-3245x3699           791-835-9075   hodgeseddie@hardin-wells.com  2021-03-12  https://stone-randolph.info/
999  NaN              NaN      NaN     NaN                              NaN  ...        +1-278-758-4331       814-860-0941x057         owarner@velasquez.info  2021-12-09           http://www.cox.com/

[1000 rows x 24 columns]

## 6. Concatenate a list of DataFrames.

In [126]:
import_dataFrame3 = pd.read_csv("3.csv")
listed = [import_dataFrame, import_dataFrame2, import_dataFrame3]
concat = pd.concat(listed, ignore_index=True)
display(concat)

       Index      Customer Id First Name   Last Name                          Company  ...                 Phone 1                Phone 2                                 Email Subscription Date                       Website
0          1  DD37Cf93aecA6Dc     Sheryl      Baxter                  Rasmussen Group  ...            229.077.5154       397.884.0519x718              zunigavanessa@smith.info        2020-08-24    http://www.stephenson.com/
1          2  1Ef7b82A4CAAD10    Preston      Lozano                      Vega-Gentry  ...              5153435776       686-620-1820x944                       vmata@colon.com        2021-04-23         http://www.hobbs.com/
2          3  6F94879bDAfE5a6        Roy       Berry                    Murillo-Perry  ...         +1-539-402-0259    (496)978-3969x58947                   beckycarr@hogan.com        2020-03-25      http://www.lawrence.com/
3          4  5Cef8BFA16c5e3c      Linda       Olsen  Dominguez, Mcmillan and Donovan  ...  001-808-617-6467x12895        +1-813-324-8756           stanleyblackwell@benson.org        2020-06-02    http://www.good-lyons.com/
4          5  053d585Ab6b3159     Joanna      Bender         Martin, Lang and Andrade  ...  001-234-203-0635x76146  001-199-446-3860x3486               colinalvarado@miles.net        2021-04-17   https://goodwin-ingram.com/
...      ...              ...        ...         ...                              ...  ...                     ...                    ...                                   ...               ...                           ...
11095   9996  DD0caa06ebf217c     Meghan       Cline                   Richardson LLC  ...    001-270-136-4738x419   001-349-692-1755x055             nicolasandrade@bates.info        2022-04-27      http://thomas-ramos.com/
11096   9997  C1C62ff90D0AfED   Jeremiah        Pena                      Hodge-Nixon  ...    +1-531-494-7645x4844  001-295-324-5502x5411                      tracy68@wade.com        2022-01-17     https://www.campbell.com/
11097   9998  2EfAa6Fe435A7DA      Peggy         Key                         Vang LLC  ...      520.109.2482x26052  +1-602-934-5901x95106    mclaughlinjulia@barnett-dorsey.com        2022-01-13  http://www.george-scott.com/
11098   9999  5dB06C3Fab5CCCb       Evan    Humphrey                        Gould Ltd  ...        001-465-242-9979   001-639-955-2116x751  velazquezjessica@villegas-wilcox.com        2020-04-14       https://www.payne.info/
11099  10000  9903e8fF4D8Ff0F    Melissa  Montgomery                     Burns-Holden  ...   +1-889-682-9490x65400     423.632.2539x98740               ngallagher@martinez.com        2020-06-27             http://nixon.net/

[11100 rows x 12 columns]

## 7. Reshape data using the melt function to go from wide to long format.

In [127]:
melted = import_dataFrame.melt(
    id_vars=['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'Subscription Date', 'Website'],
    var_name='Contact Info',
    value_name='Value'
)
display(melted)

     Index      Customer Id First Name Last Name                          Company Subscription Date                            Website Contact Info                           Value
0        1  DD37Cf93aecA6Dc     Sheryl    Baxter                  Rasmussen Group        2020-08-24         http://www.stephenson.com/         City                    East Leonard
1        2  1Ef7b82A4CAAD10    Preston    Lozano                      Vega-Gentry        2021-04-23              http://www.hobbs.com/         City               East Jimmychester
2        3  6F94879bDAfE5a6        Roy     Berry                    Murillo-Perry        2020-03-25           http://www.lawrence.com/         City                   Isabelborough
3        4  5Cef8BFA16c5e3c      Linda     Olsen  Dominguez, Mcmillan and Donovan        2020-06-02         http://www.good-lyons.com/         City                      Bensonview
4        5  053d585Ab6b3159     Joanna    Bender         Martin, Lang and Andrade        2021-04-17        https://goodwin-ingram.com/         City                  West Priscilla
..     ...              ...        ...       ...                              ...               ...                                ...          ...                             ...
495     96  cb8E23e48d22Eae       Karl     Greer                        Carey LLC        2022-01-30            http://hayes-perez.com/        Email                hhart@jensen.com
496     97  CeD220bdAaCfaDf       Lynn  Atkinson            Ware, Burns and Oneal        2021-07-10         https://novak-allison.com/        Email               vkemp@ferrell.com
497     98  28CDbC0dFe4b1Db       Fred    Guerra                    Schmitt-Jones        2021-09-18              https://www.ross.com/        Email                swagner@kane.org
498     99  c23d1D9EE8DEB0A     Yvonne    Farmer               Fitzgerald-Harrell        2021-08-11               http://watkins.info/        Email  mccarthystephen@horn-green.biz
499    100  2354a0E336A91A1   Clarence    Haynes               Le, Nash and Cross        2020-03-11  http://www.hatfield-saunders.net/        Email          colleen91@faulkner.biz

[500 rows x 9 columns]

## 8. Create a pivot table to summarize data.

In [128]:
pivot = melted.pivot_table(
    index=['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'Subscription Date', 'Website'],
    columns='Contact Info',
    values='Value',
    aggfunc='sum'
)
display(pivot)

Contact Info                                                                                                                                 City                     Country                           Email                 Phone 1                 Phone 2
Index Customer Id     First Name Last Name Company                         Subscription Date Website
1     DD37Cf93aecA6Dc Sheryl     Baxter    Rasmussen Group                 2020-08-24        http://www.stephenson.com/              East Leonard                       Chile        zunigavanessa@smith.info            229.077.5154        397.884.0519x718
2     1Ef7b82A4CAAD10 Preston    Lozano    Vega-Gentry                     2021-04-23        http://www.hobbs.com/              East Jimmychester                    Djibouti                 vmata@colon.com              5153435776        686-620-1820x944
3     6F94879bDAfE5a6 Roy        Berry     Murillo-Perry                   2020-03-25        http://www.lawrence.com/               Isabelborough         Antigua and Barbuda             beckycarr@hogan.com         +1-539-402-0259     (496)978-3969x58947
4     5Cef8BFA16c5e3c Linda      Olsen     Dominguez, Mcmillan and Donovan 2020-06-02        http://www.good-lyons.com/                Bensonview          Dominican Republic     stanleyblackwell@benson.org  001-808-617-6467x12895         +1-813-324-8756
5     053d585Ab6b3159 Joanna     Bender    Martin, Lang and Andrade        2021-04-17        https://goodwin-ingram.com/           West Priscilla  Slovakia (Slovak Republic)         colinalvarado@miles.net  001-234-203-0635x76146   001-199-446-3860x3486
...                                                                                                                                           ...                         ...                             ...                     ...                     ...
96    cb8E23e48d22Eae Karl       Greer     Carey LLC                       2022-01-30        http://hayes-perez.com/                 East Richard                      Guyana                hhart@jensen.com     (188)169-1674x58692    001-841-293-3519x614
97    CeD220bdAaCfaDf Lynn       Atkinson  Ware, Burns and Oneal           2021-07-10        https://novak-allison.com/              New Bradview                   Sri Lanka               vkemp@ferrell.com         +1-846-706-2218            605.413.3198
98    28CDbC0dFe4b1Db Fred       Guerra    Schmitt-Jones                   2021-09-18        https://www.ross.com/                     Ortegaland             Solomon Islands                swagner@kane.org    +1-753-067-8419x7170   +1-632-666-7507x92121
99    c23d1D9EE8DEB0A Yvonne     Farmer    Fitzgerald-Harrell              2021-08-11        http://watkins.info/                 Lake Elijahview                       Aruba  mccarthystephen@horn-green.biz           (530)311-9786  001-869-452-0943x12424
100   2354a0E336A91A1 Clarence   Haynes    Le, Nash and Cross              2020-03-11        http://www.hatfield-saunders.net/          Judymouth                    Honduras          colleen91@faulkner.biz           (753)813-6941            783.639.1472

[100 rows x 5 columns]

## 9. Group data by one or more columns and perform aggregation functions (e.g., sum, mean, count).

In [129]:
import_dataFrame['Subscription Date'] = pd.to_datetime(import_dataFrame['Subscription Date'])

customer_counts = import_dataFrame.groupby(['First Name', 'Last Name']).size().reset_index(name='Count')
display(customer_counts)

avg_subscription = import_dataFrame.groupby('Company')['Subscription Date'].mean().reset_index(name='Avg Subscription Date')
display(avg_subscription)

phone_count = import_dataFrame.groupby('Company')[['Phone 1', 'Phone 2']].count().reset_index()
display(phone_count)

company_emails = import_dataFrame.groupby('Company')['Email'].apply(lambda x: ', '.join(x.unique())).reset_index(name='Emails')
display(company_emails)

    First Name Last Name  Count
0        Aimee     Downs      1
1    Alejandro     Blair      1
2   Alexandria      Buck      1
3       Alison    Vargas      1
4        Anita    Benson      1
..         ...       ...    ...
95      Tracey      Mata      1
96      Vernon      Kane      1
97    Virginia    Dudley      1
98       Wayne   Simpson      1
99      Yvonne    Farmer      1

[100 rows x 3 columns]

                        Company Avg Subscription Date
0   Acosta, Petersen and Morrow            2021-09-15
1                Adkins-Salinas            2021-04-24
2                  Anderson Ltd            2021-11-01
3                  Beck-Hendrix            2021-11-08
4             Blankenship-Arias            2021-11-13
..                          ...                   ...
94        Ware, Burns and Oneal            2021-07-10
95                   Warren Ltd            2021-01-31
96    Waters, Chase and Aguilar            2021-11-03
97              Watts-Donaldson            2020-09-08
98              Winters-Mendoza            2021-03-10

[99 rows x 2 columns]

                        Company  Phone 1  Phone 2
0   Acosta, Petersen and Morrow        1        1
1                Adkins-Salinas        1        1
2                  Anderson Ltd        1        1
3                  Beck-Hendrix        1        1
4             Blankenship-Arias        1        1
..                          ...      ...      ...
94        Ware, Burns and Oneal        1        1
95                   Warren Ltd        1        1
96    Waters, Chase and Aguilar        1        1
97              Watts-Donaldson        1        1
98              Winters-Mendoza        1        1

[99 rows x 3 columns]

                        Company                              Emails
0   Acosta, Petersen and Morrow          gfigueroa@boone-zavala.com
1                Adkins-Salinas              coleolson@jennings.net
2                  Anderson Ltd                    ann48@miller.com
3                  Beck-Hendrix                   mdyer@escobar.net
4             Blankenship-Arias                 corey75@wiggins.com
..                          ...                                 ...
94        Ware, Burns and Oneal                   vkemp@ferrell.com
95                   Warren Ltd                zvalencia@phelps.com
96    Waters, Chase and Aguilar      willistonya@randolph-baker.com
97              Watts-Donaldson               stefanie71@spence.com
98              Winters-Mendoza  holtgwendolyn@watson-davenport.com

[99 rows x 2 columns]

## 10. Apply multiple aggregation functions to grouped data.

In [130]:
grouped = import_dataFrame.groupby('Company')

company_stats = grouped.agg({
    'Subscription Date': ['min', 'max', 'mean'],
    'Customer Id': 'count',
    'First Name': 'nunique',
    'Last Name': 'nunique'
})

company_stats.columns = ['Min Subscription', 'Max Subscription', 'Avg Subscription',
                        'Total Customers', 'Unique First Names', 'Unique Last Names']

display(company_stats)

                            Min Subscription Max Subscription Avg Subscription  Total Customers  Unique First Names  Unique Last Names
Company
Acosta, Petersen and Morrow       2021-09-15       2021-09-15       2021-09-15                1                   1                  1
Adkins-Salinas                    2021-04-24       2021-04-24       2021-04-24                1                   1                  1
Anderson Ltd                      2021-11-01       2021-11-01       2021-11-01                1                   1                  1
Beck-Hendrix                      2021-11-08       2021-11-08       2021-11-08                1                   1                  1
Blankenship-Arias                 2021-11-13       2021-11-13       2021-11-13                1                   1                  1
...                                      ...              ...              ...              ...                 ...                ...
Ware, Burns and Oneal             2021-07-10       2021-07-10       2021-07-10                1                   1                  1
Warren Ltd                        2021-01-31       2021-01-31       2021-01-31                1                   1                  1
Waters, Chase and Aguilar         2021-11-03       2021-11-03       2021-11-03                1                   1                  1
Watts-Donaldson                   2020-09-08       2020-09-08       2020-09-08                1                   1                  1
Winters-Mendoza                   2021-03-10       2021-03-10       2021-03-10                1                   1                  1

[99 rows x 6 columns]

## 11. Use the groupby function to group data and apply custom functions.

In [131]:
import_dataFrame['Subscription Date'] = pd.to_datetime(import_dataFrame['Subscription Date'])

grouped = import_dataFrame.groupby('Company', group_keys=False)

def custom_agg(group):
    return pd.Series({
        'Customer Count': group['Customer Id'].count(),
        'Earliest Subscription': group['Subscription Date'].min()
    })

result = grouped.apply(custom_agg, include_groups=False).reset_index()

display(result)

                        Company  Customer Count Earliest Subscription
0   Acosta, Petersen and Morrow               1            2021-09-15
1                Adkins-Salinas               1            2021-04-24
2                  Anderson Ltd               1            2021-11-01
3                  Beck-Hendrix               1            2021-11-08
4             Blankenship-Arias               1            2021-11-13
..                          ...             ...                   ...
94        Ware, Burns and Oneal               1            2021-07-10
95                   Warren Ltd               1            2021-01-31
96    Waters, Chase and Aguilar               1            2021-11-03
97              Watts-Donaldson               1            2020-09-08
98              Winters-Mendoza               1            2021-03-10

[99 rows x 3 columns]